# Node.js
node_modules/

# Build output
dist/
build/

# Env files
.env
.env.*

# VSCode ayarları
.vscode/

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistem dosyaları
.DS_Store
Thumbs.db

# Firebase emulators
.firebase/

# Diğer geçici dosyalar
*.log
*.tmp
firebaseConfig.js